In [1]:
!pip install bs4
!pip install requests
!pip install html5lib

Requirement already satisfied: bs4 in c:\users\dell\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\dell\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\dell\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\dell\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\dell\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: html5lib in c:\users\dell\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\dell\anaconda3\lib\site-packages (from html5lib) (0.5.1)

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
import pandas as pd

# ANS1

In [4]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page') #send request to page 
page

In [51]:
soup = BeautifulSoup(page.content)   #download page content

In [6]:
header = [] #empt list
for i in soup.find_all('span',class_="mw-headline"):
    header.append(i.text)
    
    
header

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [7]:
import pandas as pd
df = pd.DataFrame({"Headers":header})
df

                         Headers
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

# ANS 2

# ANS 3

In [8]:
team = [] 
for i in soup.find_all('span',class_="u-hide-phablet")[0:10]:
    team.append(i.text)
    

team

[]

# a) Top 10 ODI Teams:

In [9]:
# Define the URL for Men's ODI Team Rankings
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'

In [10]:
# Send a GET request to fetch the HTML content of the page
content = requests.get(url)
html_content = content.text
#print(html_content)

HTML parser in BeautifulSoup is like a tool that helps read and understand the structure of an HTML document. Imagine you have a recipe (the HTML document), and you want to separate the ingredients (HTML elements like headings, paragraphs, links, etc.) from the instructions (the actual content). An HTML parser is what helps you achieve this separation.

In [11]:
# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(html_content, "html.parser")

table row (tr),  table column (td), regular cells (th) for header cells

In [12]:
# Find the table containing the team rankings
table = soup.find("table", {"class": "table"})
rows = table.find_all("tr")[1:11]  # Skip the header row

In [13]:
#  empt lists 
teams = []
matches = []
points = []
ratings = []

# Extract data from each row
for row in rows:
    columns = row.find_all("td")
    print(len(columns))                      #how much columns
    team = columns[1].text.strip()
    match = columns[2].text.strip()
    point = columns[3].text.strip()
    rating =columns[4].text.strip()
    
    teams.append(team)
    matches.append(match)
    points.append(point)
    ratings.append(rating)
    
print(teams)
print(matches)
print(points)
print(ratings)

5
5
5
5
5
5
5
5
5
5
['Australia\nAUS', 'Pakistan\nPAK', 'India\nIND', 'New Zealand\nNZ', 'England\nENG', 'South Africa\nSA', 'Bangladesh\nBAN', 'Afghanistan\nAFG', 'Sri Lanka\nSL', 'West Indies\nWI']
['23', '20', '36', '27', '24', '19', '28', '16', '32', '38']
['2,714', '2,316', '4,081', '2,806', '2,426', '1,910', '2,661', '1,404', '2,794', '2,582']
['118', '116', '113', '104', '101', '101', '95', '88', '87', '68']

In [14]:

# Create a DataFrame from the extracted data
data = {"Team": teams,"Matches": matches,"Points": points, "Rating": ratings}
df = pd.DataFrame(data)

print(df)

               Team Matches Points Rating
0    Australia\nAUS      23  2,714    118
1     Pakistan\nPAK      20  2,316    116
2        India\nIND      36  4,081    113
3   New Zealand\nNZ      27  2,806    104
4      England\nENG      24  2,426    101
5  South Africa\nSA      19  1,910    101
6   Bangladesh\nBAN      28  2,661     95
7  Afghanistan\nAFG      16  1,404     88
8     Sri Lanka\nSL      32  2,794     87
9   West Indies\nWI      38  2,582     68

# b) Top 10 ODI Batsmen:

In [15]:
url2 = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'

content2 = requests.get(url2)
html_content2 = content2.text

soup = BeautifulSoup(html_content2, "html.parser")

table = soup.find("table", {"class": "table"})
rows = table.find_all("tr")[1:11]


players =[]
teams   =[]
ratings =[]


for row in rows:
    columns = row.find_all("td")
    print(len(columns))                      
    player = columns[1].text.strip()
    team   = columns[2].text.strip()
    rating = columns[3].text.strip()
    
    players.append(player)
    teams.append(team)
    ratings.append(rating)

    
    
print(players)
print(teams)
print(ratings)

5
5
5
5
5
5
5
5
5
5
['Babar Azam', 'Rassie van der Dussen', 'Fakhar Zaman', 'Imam-ul-Haq', 'Shubman Gill', 'Harry Tector', 'David Warner', 'Quinton de Kock', 'Virat Kohli', 'Steve Smith']
['PAK', 'SA', 'PAK', 'PAK', 'IND', 'IRE', 'AUS', 'SA', 'IND', 'AUS']
['886', '777', '755', '745', '743', '726', '726', '718', '705', '702']

In [16]:
data2 = {"Player": players,"Team": teams,"Rating": ratings}
df2 = pd.DataFrame(data2)

print(df2)

                  Player Team Rating
0             Babar Azam  PAK    886
1  Rassie van der Dussen   SA    777
2           Fakhar Zaman  PAK    755
3            Imam-ul-Haq  PAK    745
4           Shubman Gill  IND    743
5           Harry Tector  IRE    726
6           David Warner  AUS    726
7        Quinton de Kock   SA    718
8            Virat Kohli  IND    705
9            Steve Smith  AUS    702

# c) Top 10 ODI Bowlers:

In [17]:

url3 = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'

content3 = requests.get(url3)
html_content3 = content2.text

soup = BeautifulSoup(html_content3, "html.parser")

table = soup.find("table", {"class": "table"})
rows = table.find_all("tr")[1:11]


players =[]
teams   =[]
ratings =[]


for row in rows:
    columns = row.find_all("td")
    print(len(columns))                      
    player = columns[1].text.strip()
    team   = columns[2].text.strip()
    rating = columns[3].text.strip()
    
    players.append(player)
    teams.append(team)
    ratings.append(rating)

    
    
print(players)
print(teams)
print(ratings)

5
5
5
5
5
5
5
5
5
5
['Babar Azam', 'Rassie van der Dussen', 'Fakhar Zaman', 'Imam-ul-Haq', 'Shubman Gill', 'Harry Tector', 'David Warner', 'Quinton de Kock', 'Virat Kohli', 'Steve Smith']
['PAK', 'SA', 'PAK', 'PAK', 'IND', 'IRE', 'AUS', 'SA', 'IND', 'AUS']
['886', '777', '755', '745', '743', '726', '726', '718', '705', '702']

In [18]:
data3 = {"Player": players,"Team": teams,"Rating": ratings}
df3 = pd.DataFrame(data3)

print(df3)

                  Player Team Rating
0             Babar Azam  PAK    886
1  Rassie van der Dussen   SA    777
2           Fakhar Zaman  PAK    755
3            Imam-ul-Haq  PAK    745
4           Shubman Gill  IND    743
5           Harry Tector  IRE    726
6           David Warner  AUS    726
7        Quinton de Kock   SA    718
8            Virat Kohli  IND    705
9            Steve Smith  AUS    702

# ANS.4

# a) Top 10 ODI teams in women’s cricket

In [19]:
url1 = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'

content1 = requests.get(url1)
html_content1 = content1.text

soup = BeautifulSoup(html_content1, "html.parser")

table = soup.find("table", {"class": "table"})
rows = table.find_all("tr")[1:11]



teams = []
matches = []
points = []
ratings = []


for row in rows:
    columns = row.find_all("td")
    print(len(columns))                      
    team = columns[1].text.strip()
    match = columns[2].text.strip()
    point = columns[3].text.strip()
    rating =columns[4].text.strip()
    
    teams.append(team)
    matches.append(match)
    points.append(point)
    ratings.append(rating)
    
print(teams)
print(matches)
print(points)
print(ratings)

5
5
5
5
5
5
5
5
5
5
['Australia\nAUS', 'England\nENG', 'South Africa\nSA', 'India\nIND', 'New Zealand\nNZ', 'West Indies\nWI', 'Bangladesh\nBAN', 'Sri Lanka\nSL', 'Thailand\nTHA', 'Pakistan\nPAK']
['26', '31', '26', '30', '28', '29', '17', '12', '13', '27']
['4,290', '3,875', '3,098', '3,039', '2,688', '2,743', '1,284', '820', '883', '1,678']
['165', '125', '119', '101', '96', '95', '76', '68', '68', '62']

In [20]:
data = {"Team": teams,"Matches": matches,"Points": points, "Rating": ratings}
df = pd.DataFrame(data)

print(df)

               Team Matches Points Rating
0    Australia\nAUS      26  4,290    165
1      England\nENG      31  3,875    125
2  South Africa\nSA      26  3,098    119
3        India\nIND      30  3,039    101
4   New Zealand\nNZ      28  2,688     96
5   West Indies\nWI      29  2,743     95
6   Bangladesh\nBAN      17  1,284     76
7     Sri Lanka\nSL      12    820     68
8     Thailand\nTHA      13    883     68
9     Pakistan\nPAK      27  1,678     62

# b)Top 10 women’s ODI Batting :

In [21]:
url2 = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'

content2 = requests.get(url2)
html_content2 = content2.text

soup = BeautifulSoup(html_content2, "html.parser")

table = soup.find("table", {"class": "table"})
rows = table.find_all("tr")[1:11]


players =[]
teams   =[]
ratings =[]


for row in rows:
    columns = row.find_all("td")
    print(len(columns))                      
    player = columns[1].text.strip()
    team   = columns[2].text.strip()
    rating = columns[3].text.strip()
    
    players.append(player)
    teams.append(team)
    ratings.append(rating)

    
    
print(players)
print(teams)
print(ratings)

5
5
5
5
5
5
5
5
5
5
['Natalie Sciver-Brunt', 'Chamari Athapaththu', 'Beth Mooney', 'Laura Wolvaardt', 'Smriti Mandhana', 'Alyssa Healy', 'Harmanpreet Kaur', 'Ellyse Perry', 'Meg Lanning', 'Stafanie Taylor']
['ENG', 'SL', 'AUS', 'SA', 'IND', 'AUS', 'IND', 'AUS', 'AUS', 'WI']
['803', '758', '751', '732', '708', '702', '694', '686', '682', '618']

In [22]:
data2 = {"Player": players,"Team": teams,"Rating": ratings}
df2 = pd.DataFrame(data2)

print(df2)

                 Player Team Rating
0  Natalie Sciver-Brunt  ENG    803
1   Chamari Athapaththu   SL    758
2           Beth Mooney  AUS    751
3       Laura Wolvaardt   SA    732
4       Smriti Mandhana  IND    708
5          Alyssa Healy  AUS    702
6      Harmanpreet Kaur  IND    694
7          Ellyse Perry  AUS    686
8           Meg Lanning  AUS    682
9       Stafanie Taylor   WI    618

# c) Top 10 women’s ODI all-rounder

In [23]:
url3 = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'

content3 = requests.get(url3)
html_content3 = content2.text

soup = BeautifulSoup(html_content3, "html.parser")

table = soup.find("table", {"class": "table"})
rows = table.find_all("tr")[1:11]


players =[]
teams   =[]
ratings =[]


for row in rows:
    columns = row.find_all("td")
    print(len(columns))                      
    player = columns[1].text.strip()
    team   = columns[2].text.strip()
    rating = columns[3].text.strip()
    
    players.append(player)
    teams.append(team)
    ratings.append(rating)

    
    
print(players)
print(teams)
print(ratings)

5
5
5
5
5
5
5
5
5
5
['Natalie Sciver-Brunt', 'Chamari Athapaththu', 'Beth Mooney', 'Laura Wolvaardt', 'Smriti Mandhana', 'Alyssa Healy', 'Harmanpreet Kaur', 'Ellyse Perry', 'Meg Lanning', 'Stafanie Taylor']
['ENG', 'SL', 'AUS', 'SA', 'IND', 'AUS', 'IND', 'AUS', 'AUS', 'WI']
['803', '758', '751', '732', '708', '702', '694', '686', '682', '618']

In [24]:
data3 = {"Player": players,"Team": teams,"Rating": ratings}
df3 = pd.DataFrame(data3)

print(df3)

                 Player Team Rating
0  Natalie Sciver-Brunt  ENG    803
1   Chamari Athapaththu   SL    758
2           Beth Mooney  AUS    751
3       Laura Wolvaardt   SA    732
4       Smriti Mandhana  IND    708
5          Alyssa Healy  AUS    702
6      Harmanpreet Kaur  IND    694
7          Ellyse Perry  AUS    686
8           Meg Lanning  AUS    682
9       Stafanie Taylor   WI    618

# ANS.5

In [25]:
url = "https://www.cnbc.com/world/?region=world"

In [26]:
response = requests.get(url)
html_content = response.text

In [27]:
soup = BeautifulSoup(html_content, "html.parser")

In [28]:
header = [] #empt list
for i in soup.find_all("div", class_="LatestNews-container"):
    header.append(i.text)
    
    
header

["12 Hours AgoWhy 'career choices' is the No. 1 conflict among divorced people",
 '14 Hours AgoCruise will reduce robotaxi fleet by 50% in San Francisco while California DMV investigates ‘incidents’',
 '14 Hours AgoCan American-made weapons like F-16s turn the tide in Ukraine?',
 '16 Hours AgoHarvard gut doctor avoids these 4 foods that cause inflammation—and what she eats instead',
 '16 Hours AgoThe clash of sustainability and AI is creating a challenge for Dell, IBM and others',
 '16 Hours AgoOn tap next week: 2 housing reports and 2 Investing Cub earnings releases ',
 '16 Hours AgoTop 10 best European cities for retirement ',
 "17 Hours AgoGoogle's plan to purge inactive accounts isn't sitting well with some users",
 "17 Hours AgoThe No. 1 best state to retire in the U.S.—it's not Florida",
 '17 Hours AgoMark Cuban passed on an Uber investment that could be worth $2.3 billion today',
 '18 Hours AgoBelieving these 5 Social Security myths may reduce your retirement benefits',
 "18 Hours AgoHere's why Aldi is looking to the Southern U.S. for growth",
 "18 Hours AgoHere's how the Huy Fong Foods sriracha shortage could have been prevented",
 '18 Hours AgoThis ETF is soaring in August as market swoon revives winning trades from 2022',
 '18 Hours AgoMorgan Stanley is among the most oversold in the S&P 500',
 '18 Hours AgoBuy these stocks with upside as market fears intensify, Goldman Sachs says',
 'August 18, 2023Palo Alto shares rise on earnings beat, after Friday report concerned investors',
 'August 18, 2023Wall Street awaits hotly anticipated Nvidia earnings. What the pros say to do',
 'August 18, 2023WeWork plunges another 11% after announcing reverse stock split',
 'August 18, 2023The iPhone 15 could get one of the biggest upgrades in years: A new charging port',
 "August 18, 2023Coral bleaching event in Florida is 'just the tip of the iceberg,' NOAA says\n",
 'August 18, 2023Bitcoin is giving a bearish signal. Here’s what chart analysts say happens next',
 'August 18, 2023Earnings show shoppers will spend money for value, favoring two retail stocks',
 'August 18, 2023Nvidia, key Powell speech to take center stage next week in midst of August woe ',
 'August 18, 2023My HomePod is now a very expensive doorstop',
 'August 18, 20233 trends are dividing restaurant companies into winners and losers',
 'August 18, 2023How hurricanes may affect the 2024 Social Security cost-of-living adjustment',
 'August 18, 2023Rosenblatt names its top picks to play the ‘age of A.I. gold rush’ ',
 'August 18, 2023It may be tough for Apple to outperform from here, says top tech analyst',
 "August 18, 2023'Blue Beetle' tries to take down 'Barbie' in a late summer box office showdown"]

In [29]:
print(type(header))
print(len(header))

<class 'list'>
30

In [30]:
Time = [] #empt list
for i in soup.find_all("span", class_="LatestNews-wrapper"):
    Time.append(i.text)
    
    
Time

['12 Hours Ago',
 '14 Hours Ago',
 '14 Hours Ago',
 '16 Hours Ago',
 '16 Hours Ago',
 '16 Hours Ago',
 '16 Hours Ago',
 '17 Hours Ago',
 '17 Hours Ago',
 '17 Hours Ago',
 '18 Hours Ago',
 '18 Hours Ago',
 '18 Hours Ago',
 '18 Hours Ago',
 '18 Hours Ago',
 '18 Hours Ago',
 'August 18, 2023',
 'August 18, 2023',
 'August 18, 2023',
 'August 18, 2023',
 'August 18, 2023',
 'August 18, 2023',
 'August 18, 2023',
 'August 18, 2023',
 'August 18, 2023',
 'August 18, 2023',
 'August 18, 2023',
 'August 18, 2023',
 'August 18, 2023',
 'August 18, 2023']

In [31]:
print(len(Time))

30

In [32]:
# all links
for links in soup.find_all('a',class_="LatestNews-headline"):         #Get all the anchor tags from the page/web
    link = links.get('href')
    print(link)
    
                                                                      #href will not bring the tag with link
                                                                      #.get - it is useful to achive to attribute of link

https://www.cnbc.com/2023/08/19/why-career-choices-is-the-no-1-conflict-among-divorced-people.html
https://www.cnbc.com/2023/08/19/cruise-will-reduce-robotaxi-fleet-by-50percent-in-san-francisco.html
https://www.cnbc.com/2023/08/19/can-expensive-american-made-weapons-like-f-16s-turn-the-tide-in-ukraines-war-against-russia.html
https://www.cnbc.com/2023/08/19/harvard-gut-doctor-shares-foods-that-cause-inflammation-and-what-to-eat-instead.html
https://www.cnbc.com/2023/08/19/the-clash-of-sustainability-and-ai-is-creating-a-challenge-for-dell-ibm-and-others.html
https://www.cnbc.com/2023/08/19/on-tap-next-week-2-housing-reports-and-2-cub-earnings-releases.html
https://www.cnbc.com/2023/08/19/best-countries-retire-in-europe-moving-to-spain-report.html
https://www.cnbc.com/2023/08/19/google-faces-criticism-of-plan-to-purge-inactive-accounts.html
https://www.cnbc.com/2023/08/19/best-us-states-to-retire-in-2023.html
https://www.cnbc.com/2023/08/19/mark-cuban-passed-on-uber-stake-that-would-be-worth-2point3-billion-now.html
https://www.cnbc.com/2023/08/19/social-security-believing-5-myths-may-slash-your-retirement-benefits.html
https://www.cnbc.com/2023/08/19/aldi-winn-dixie-deal-why-the-german-grocer-is-expanding-in-the-us.html
https://www.cnbc.com/2023/08/19/how-did-the-huy-fong-foods-sriracha-shortage-happen.html
https://www.cnbc.com/2023/08/19/this-etf-is-soaring-thanks-to-a-revival-of-2022s-winning-trades.html
https://www.cnbc.com/2023/08/19/morgan-stanley-and-this-packaging-stock-are-among-the-most-oversold-in-the-sp-500.html
https://www.cnbc.com/2023/08/19/goldman-picks-stocks-with-the-most-upside-amid-market-jitters.html
https://www.cnbc.com/2023/08/18/palo-alto-networks-panw-earnings-report-q4-2023.html
https://www.cnbc.com/2023/08/18/wall-street-previews-nvidia-earnings-how-the-pros-are-playing-the-stock.html
https://www.cnbc.com/2023/08/18/wework-plunges-another-11percent-after-announcing-1-40-reverse-stock-split.html
https://www.cnbc.com/2023/08/18/iphone-15-usb-c-charging-would-be-biggest-upgrade-in-years.html
https://www.cnbc.com/2023/08/18/noaa-florida-coral-bleaching-event-could-go-global.html
https://www.cnbc.com/2023/08/18/bitcoin-is-giving-a-bearish-signal-heres-what-chart-analysts-say-happens-next.html
https://www.cnbc.com/2023/08/18/retail-earnings-show-shoppers-will-spend-money-for-value-favoring-tjx-costco.html
https://www.cnbc.com/2023/08/18/nvidia-powell-speech-to-take-center-stage-on-wall-street-next-week.html
https://www.cnbc.com/2023/08/18/apple-wont-repair-homepods-according-to-apple-store-employee.html
https://www.cnbc.com/2023/08/18/mcdonalds-chipotle-among-restaurant-earnings-winners-and-losers.html
https://www.cnbc.com/2023/08/18/social-security-cost-of-living-adjustment-hurricanes-a-factor-in-2024.html
https://www.cnbc.com/2023/08/18/rosenblatt-names-its-top-picks-to-play-the-age-of-ai-gold-rush-.html
https://www.cnbc.com/2023/08/18/it-may-be-tough-for-apple-to-outperform-from-here-says-top-tech-analyst.html
https://www.cnbc.com/2023/08/18/barbie-vs-blue-beetle-box-office-showdown.html

In [33]:

links_https=[]
for links in soup.find_all('a',class_="LatestNews-headline"):         #Get all the anchor tags from the page/web
    link = links.get('href')
    links_https.append(link)
    
links_https

['https://www.cnbc.com/2023/08/19/why-career-choices-is-the-no-1-conflict-among-divorced-people.html',
 'https://www.cnbc.com/2023/08/19/cruise-will-reduce-robotaxi-fleet-by-50percent-in-san-francisco.html',
 'https://www.cnbc.com/2023/08/19/can-expensive-american-made-weapons-like-f-16s-turn-the-tide-in-ukraines-war-against-russia.html',
 'https://www.cnbc.com/2023/08/19/harvard-gut-doctor-shares-foods-that-cause-inflammation-and-what-to-eat-instead.html',
 'https://www.cnbc.com/2023/08/19/the-clash-of-sustainability-and-ai-is-creating-a-challenge-for-dell-ibm-and-others.html',
 'https://www.cnbc.com/2023/08/19/on-tap-next-week-2-housing-reports-and-2-cub-earnings-releases.html',
 'https://www.cnbc.com/2023/08/19/best-countries-retire-in-europe-moving-to-spain-report.html',
 'https://www.cnbc.com/2023/08/19/google-faces-criticism-of-plan-to-purge-inactive-accounts.html',
 'https://www.cnbc.com/2023/08/19/best-us-states-to-retire-in-2023.html',
 'https://www.cnbc.com/2023/08/19/mark-cuban-passed-on-uber-stake-that-would-be-worth-2point3-billion-now.html',
 'https://www.cnbc.com/2023/08/19/social-security-believing-5-myths-may-slash-your-retirement-benefits.html',
 'https://www.cnbc.com/2023/08/19/aldi-winn-dixie-deal-why-the-german-grocer-is-expanding-in-the-us.html',
 'https://www.cnbc.com/2023/08/19/how-did-the-huy-fong-foods-sriracha-shortage-happen.html',
 'https://www.cnbc.com/2023/08/19/this-etf-is-soaring-thanks-to-a-revival-of-2022s-winning-trades.html',
 'https://www.cnbc.com/2023/08/19/morgan-stanley-and-this-packaging-stock-are-among-the-most-oversold-in-the-sp-500.html',
 'https://www.cnbc.com/2023/08/19/goldman-picks-stocks-with-the-most-upside-amid-market-jitters.html',
 'https://www.cnbc.com/2023/08/18/palo-alto-networks-panw-earnings-report-q4-2023.html',
 'https://www.cnbc.com/2023/08/18/wall-street-previews-nvidia-earnings-how-the-pros-are-playing-the-stock.html',
 'https://www.cnbc.com/2023/08/18/wework-plunges-another-11percent-after-announcing-1-40-reverse-stock-split.html',
 'https://www.cnbc.com/2023/08/18/iphone-15-usb-c-charging-would-be-biggest-upgrade-in-years.html',
 'https://www.cnbc.com/2023/08/18/noaa-florida-coral-bleaching-event-could-go-global.html',
 'https://www.cnbc.com/2023/08/18/bitcoin-is-giving-a-bearish-signal-heres-what-chart-analysts-say-happens-next.html',
 'https://www.cnbc.com/2023/08/18/retail-earnings-show-shoppers-will-spend-money-for-value-favoring-tjx-costco.html',
 'https://www.cnbc.com/2023/08/18/nvidia-powell-speech-to-take-center-stage-on-wall-street-next-week.html',
 'https://www.cnbc.com/2023/08/18/apple-wont-repair-homepods-according-to-apple-store-employee.html',
 'https://www.cnbc.com/2023/08/18/mcdonalds-chipotle-among-restaurant-earnings-winners-and-losers.html',
 'https://www.cnbc.com/2023/08/18/social-security-cost-of-living-adjustment-hurricanes-a-factor-in-2024.html',
 'https://www.cnbc.com/2023/08/18/rosenblatt-names-its-top-picks-to-play-the-age-of-ai-gold-rush-.html',
 'https://www.cnbc.com/2023/08/18/it-may-be-tough-for-apple-to-outperform-from-here-says-top-tech-analyst.html',
 'https://www.cnbc.com/2023/08/18/barbie-vs-blue-beetle-box-office-showdown.html']

In [34]:
print(type(links_https ))
print(len(links_https))

<class 'list'>
30

In [35]:

df   = pd.DataFrame({'Latest_News_and_time': header,'Time':Time,'Latest_News_Link':links_https,})

df

,Latest_News_and_time,Time,Latest_News_Link
0,12 Hours AgoWhy 'career choices' is the No. 1 ...,12 Hours Ago,https://www.cnbc.com/2023/08/19/why-career-cho...
1,14 Hours AgoCruise will reduce robotaxi fleet ...,14 Hours Ago,https://www.cnbc.com/2023/08/19/cruise-will-re...
2,14 Hours AgoCan American-made weapons like F-1...,14 Hours Ago,https://www.cnbc.com/2023/08/19/can-expensive-...
3,16 Hours AgoHarvard gut doctor avoids these 4 ...,16 Hours Ago,https://www.cnbc.com/2023/08/19/harvard-gut-do...
4,16 Hours AgoThe clash of sustainability and AI...,16 Hours Ago,https://www.cnbc.com/2023/08/19/the-clash-of-s...
5,16 Hours AgoOn tap next week: 2 housing report...,16 Hours Ago,https://www.cnbc.com/2023/08/19/on-tap-next-we...
6,16 Hours AgoTop 10 best European cities for re...,16 Hours Ago,https://www.cnbc.com/2023/08/19/best-countries...
7,17 Hours AgoGoogle's plan to purge inactive ac...,17 Hours Ago,https://www.cnbc.com/2023/08/19/google-faces-c...
8,17 Hours AgoThe No. 1 best state to retire in ...,17 Hours Ago,https://www.cnbc.com/2023/08/19/best-us-states...
9,17 Hours AgoMark Cuban passed on an Uber inves...,17 Hours Ago,https://www.cnbc.com/2023/08/19/mark-cuban-pas...
10,18 Hours AgoBelieving these 5 Social Security ...,18 Hours Ago,https://www.cnbc.com/2023/08/19/social-securit...
11,18 Hours AgoHere's why Aldi is looking to the ...,18 Hours Ago,https://www.cnbc.com/2023/08/19/aldi-winn-dixi...
12,18 Hours AgoHere's how the Huy Fong Foods srir...,18 Hours Ago,https://www.cnbc.com/2023/08/19/how-did-the-hu...
13,18 Hours AgoThis ETF is soaring in August as m...,18 Hours Ago,https://www.cnbc.com/2023/08/19/this-etf-is-so...
14,18 Hours AgoMorgan Stanley is among the most o...,18 Hours Ago,https://www.cnbc.com/2023/08/19/morgan-stanley...
15,18 Hours AgoBuy these stocks with upside as ma...,18 Hours Ago,https://www.cnbc.com/2023/08/19/goldman-picks-...
16,"August 18, 2023Palo Alto shares rise on earnin...","August 18, 2023",https://www.cnbc.com/2023/08/18/palo-alto-netw...
17,"August 18, 2023Wall Street awaits hotly antici...","August 18, 2023",https://www.cnbc.com/2023/08/18/wall-street-pr...
18,"August 18, 2023WeWork plunges another 11% afte...","August 18, 2023",https://www.cnbc.com/2023/08/18/wework-plunges...
19,"August 18, 2023The iPhone 15 could get one of ...","August 18, 2023",https://www.cnbc.com/2023/08/18/iphone-15-usb-...
20,"August 18, 2023Coral bleaching event in Florid...","August 18, 2023",https://www.cnbc.com/2023/08/18/noaa-florida-c...
21,"August 18, 2023Bitcoin is giving a bearish sig...","August 18, 2023",https://www.cnbc.com/2023/08/18/bitcoin-is-giv...
22,"August 18, 2023Earnings show shoppers will spe...","August 18, 2023",https://www.cnbc.com/2023/08/18/retail-earning...
23,"August 18, 2023Nvidia, key Powell speech to ta...","August 18, 2023",https://www.cnbc.com/2023/08/18/nvidia-powell-...
24,"August 18, 2023My HomePod is now a very expens...","August 18, 2023",https://www.cnbc.com/2023/08/18/apple-wont-rep...
25,"August 18, 20233 trends are dividing restauran...","August 18, 2023",https://www.cnbc.com/2023/08/18/mcdonalds-chip...
26,"August 18, 2023How hurricanes may affect the 2...","August 18, 2023",https://www.cnbc.com/2023/08/18/social-securit...
27,"August 18, 2023Rosenblatt names its top picks ...","August 18, 2023",https://www.cnbc.com/2023/08/18/rosenblatt-nam...
28,"August 18, 2023It may be tough for Apple to ou...","August 18, 2023",https://www.cnbc.com/2023/08/18/it-may-be-toug...
29,"August 18, 2023'Blue Beetle' tries to take dow...","August 18, 2023",https://www.cnbc.com/2023/08/18/barbie-vs-blue...

NameError: name 'pd' is not defined

# ANS.6

In [36]:
url = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"

In [37]:
response = requests.get(url)
html_content = response.text

In [38]:
soup = BeautifulSoup(html_content, "html.parser")

In [39]:
Paper_Title = [] #empt list
for i in soup.find_all("h2", class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    Paper_Title.append(i.text)
    
    
Paper_Title

['Reward is enough',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Creativity and artificial intelligence',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Knowledge graphs as tools for explainable machine learning: A survey',
 'Law and logic: A review from an argumentation perspective',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'Multiple object tracking: A literature review',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Explainable AI tools for legal reasoning about cases: A study on the European Court of Human Rights',
 'Hard choices in artificial intelligence',
 'Assessing the communication gap between AI models and healthcare professionals: Explainability, utility and trust in AI-driven clinical decision-making',
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'The Hanabi challenge: A new frontier for AI research',
 'Wrappers for feature subset selection',
 'Artificial cognition for social human–robot interaction: An implementation',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'The multifaceted impact of Ada Lovelace in the digital age',
 'Robot ethics: Mapping the issues for a mechanized world',
 'Reward (Mis)design for autonomous driving',
 'Planning and acting in partially observable stochastic domains',
 'What do we want from Explainable Artificial Intelligence (XAI)? – A stakeholder perspective on XAI and a conceptual model guiding interdisciplinary XAI research']

In [40]:
Authors = [] #empt list
for i in soup.find_all("span", class_="sc-1w3fpd7-0 dnCnAO"):
    Authors.append(i.text)
    
    
Authors

['David Silver, Satinder Singh, Doina Precup, Richard S. Sutton ',
 'Tim Miller ',
 'Margaret A. Boden ',
 'Guni Sharon, Roni Stern, Ariel Felner, Nathan R. Sturtevant ',
 'Ilaria Tiddi, Stefan Schlobach ',
 'Henry Prakken, Giovanni Sartor ',
 'Richard S. Sutton, Doina Precup, Satinder Singh ',
 'Kjersti Aas, Martin Jullum, Anders Løland ',
 'Wenhan Luo, Junliang Xing and 4 more',
 'Saurabh Arora, Prashant Doshi ',
 'Jasper van der Waa, Elisabeth Nieuwburg, Anita Cremers, Mark Neerincx ',
 'Joe Collenette, Katie Atkinson, Trevor Bench-Capon ',
 'Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz ',
 'Oskar Wysocki, Jessica Katharine Davies and 5 more',
 'Eoin M. Kenny, Courtney Ford, Molly Quinn, Mark T. Keane ',
 'Nolan Bard, Jakob N. Foerster and 13 more',
 'Ron Kohavi, George H. John ',
 'Séverin Lemaignan, Mathieu Warnier and 3 more',
 'Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz ',
 'Luigia Carlucci Aiello ',
 'Patrick Lin, Keith Abney, George Bekey ',
 'W. Bradley Knox, Alessandro Allievi and 3 more',
 'Leslie Pack Kaelbling, Michael L. Littman, Anthony R. Cassandra ',
 'Markus Langer, Daniel Oster and 6 more']

In [41]:
Published_Date = [] #empt list
for i in soup.find_all("span", class_="sc-1thf9ly-2 dvggWt"):
    Published_Date.append(i.text)
    
    
Published_Date

['October 2021',
 'February 2019',
 'August 1998',
 'February 2015',
 'January 2022',
 'October 2015',
 'August 1999',
 'September 2021',
 'April 2021',
 'August 2021',
 'February 2021',
 'April 2023',
 'November 2021',
 'March 2023',
 'May 2021',
 'March 2020',
 'December 1997',
 'June 2017',
 'June 2021',
 'June 2016',
 'April 2011',
 'March 2023',
 'May 1998',
 'July 2021']

In [42]:
Paper_URL=[]
for links in soup.find_all('a',class_="sc-5smygv-0 fIXTHm"):         #Get all the anchor tags from the page/web
    link = links.get('href')
    Paper_URL.append(link)
    
Paper_URL

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370221001788',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370223000073',
 'https://www.sciencedirect.com/science/article/pii/S0004370221001065',
 'https://www.sciencedirect.com/science/article/pii/S0004370222001795',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300224',
 'https://www.sciencedirect.com/science/article/pii/S0004370211000178',
 'https://www.sciencedirect.com/science/article/pii/S0004370222001692',
 'https://www.sciencedirect.com/science/article/pii/S000437029800023X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000242']

In [43]:
df = pd.DataFrame({'Paper_Title':Paper_Title,'Authors':Authors,'Published_Date':Published_Date,'Paper_URL':Paper_URL})
df

,Paper_Title,Authors,Published_Date,Paper_URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

# ANS.7

In [44]:
url = 'https://www.dineout.co.in/delhi-restaurants/buffet-special'

response = requests.get(url)
html_content = response.text

soup = BeautifulSoup(html_content, "html.parser")

In [45]:
Restaurant_name =[]

for i in soup.find_all('div',class_="restnt-info cursor"):
    Restaurant_name.append(i.text)
    
    
Restaurant_name

['Castle BarbequeConnaught Place, Central Delhi',
 'Cafe KnoshThe Leela Ambience Convention Hotel,Shahdara, East Delhi',
 "Castle's BarbequePacific Mall,Tagore Garden, West Delhi",
 'India GrillHilton Garden Inn,Saket, South Delhi',
 'The Barbeque CompanyGardens Galleria,Sector 38A, Noida',
 'Delhi BarbequeTaurus Sarovar Portico,Mahipalpur, South Delhi',
 'The Monarch - Bar Be Que VillageIndirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'The Barbeque TimesM2K Corporate Park,Sector 51, Gurgaon',
 'Indian Grill RoomSuncity Business Tower,Golf Course Road, Gurgaon']

In [46]:
Cuisine =[]
for i in soup.find_all('span',class_="double-line-ellipsis"):
    Cuisine.append(i.text)
    
Cuisine

['₹ 2,000 for 2 (approx) | Chinese, North Indian',
 '₹ 3,000 for 2 (approx) | Italian, Continental',
 '₹ 2,000 for 2 (approx) | Chinese, North Indian',
 '₹ 2,400 for 2 (approx) | North Indian, Italian',
 '₹ 1,700 for 2 (approx) | North Indian, Chinese',
 '₹ 1,800 for 2 (approx) | North Indian',
 '₹ 1,900 for 2 (approx) | North Indian',
 '₹ 1,500 for 2 (approx) | North Indian, Continental, Chinese, South Indian',
 '₹ 2,200 for 2 (approx) | North Indian, Mughlai']

In [47]:
Location =[]
for i in soup.find_all("div",class_="restnt-loc ellipsis"):
    Location.append(i.text)
    
Location

['Connaught Place, Central Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'Hilton Garden Inn,Saket, South Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'M2K Corporate Park,Sector 51, Gurgaon',
 'Suncity Business Tower,Golf Course Road, Gurgaon']

In [48]:
Ratings =[]
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    Ratings.append(i.text)
    
Ratings

['4', '4.3', '3.9', '3.9', '3.9', '3.7', '3.8', '4.1', '4.3']

In [49]:
Image_URL =[]
for i in soup.find_all("img",class_="no-img"):
    Image_URL.append(i['data-src'])
    
Image_URL

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/u/r/p106428-166073786162fcd945925a9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

In [50]:
df   = pd.DataFrame({'Restaurant_name': Restaurant_name,'Cuisines':Cuisine,'Location':Location,'Rating':Ratings,'Image_URL':Image_URL })

df

,Restaurant_name,Cuisines,Location,Rating,Image_URL
0,"Castle BarbequeConnaught Place, Central Delhi","₹ 2,000 for 2 (approx) | Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,"Cafe KnoshThe Leela Ambience Convention Hotel,...","₹ 3,000 for 2 (approx) | Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,"Castle's BarbequePacific Mall,Tagore Garden, W...","₹ 2,000 for 2 (approx) | Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"India GrillHilton Garden Inn,Saket, South Delhi","₹ 2,400 for 2 (approx) | North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","₹ 1,700 for 2 (approx) | North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","₹ 1,800 for 2 (approx) | North Indian","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
6,The Monarch - Bar Be Que VillageIndirapuram Ha...,"₹ 1,900 for 2 (approx) | North Indian","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
7,"The Barbeque TimesM2K Corporate Park,Sector 51...","₹ 1,500 for 2 (approx) | North Indian, Contine...","M2K Corporate Park,Sector 51, Gurgaon",4.1,https://im1.dineout.co.in/images/uploads/resta...
8,"Indian Grill RoomSuncity Business Tower,Golf C...","₹ 2,200 for 2 (approx) | North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...