In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.11.2-py3-none-any.whl (7.2 MB)
     ---------------------------------------- 7.2/7.2 MB 744.6 kB/s eta 0:00:00
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.11)
Collecting trio~=0.17
  Downloading trio-0.22.2-py3-none-any.whl (400 kB)
     ------------------------------------- 400.2/400.2 kB 12.6 MB/s eta 0:00:00
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.10.3-py3-none-any.whl (17 kB)
Requirement already satisfied: sniffio in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.1.3-py3-none-any.whl (14 kB)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     -------------------------------------- 58.3/58.3 kB 279.2 kB/s eta 0:00:00
Installing collected packages: outcome, h11, exceptiongroup, wsproto, trio, trio-websocket, selenium
Successfully installed exceptiongroup-1.1.3 h11-0.14.0 outcome-1.2.0 selenium-4.11.2 trio-0.22.2 trio-websocket-0.10.3 wsproto-1.2.0

In [1]:
import selenium 
from selenium import webdriver
import pandas as pd 
from selenium.webdriver.common.by import By 
import warnings 
warnings.filterwarnings("ignore")

In [2]:
import time

# ANS.1

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get("https://www.shine.com/new/job-search")

In [5]:
# ENTER DATA ANALYST
Job_title_Skills =driver.find_element(By.CLASS_NAME,"form-control")
Job_title_Skills.send_keys('Data Analyst')

In [6]:
# ENTER BANGALORE CITY
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [175]:
# SEARCH 
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[2]/div/button")
search.click()

In [177]:
#JOBS NAME

jobs = []



job_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in job_tags[0:10]:
    jobs_data = i.text
    jobs.append(jobs_data)
    
jobs

['Project Coordinator (Data Analyst)',
 'Data Analyst - Java/Python',
 'Hiring For Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst Urgent Recruiment',
 'Apply Now a Data Analyst',
 'Apply Now Data Analyst',
 'Needed for Data Analyst',
 'Urgently need a Data Analyst']

In [178]:
# JOB LOCATIONS
job_location = []



job_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in job_tags[0:10]:
    jobs_data = i.text
    job_location.append(jobs_data)
    
job_location

['Bangalore',
 'Bangalore',
 'Bangalore\n+14',
 'Bangalore',
 'Bangalore\n+9',
 'Bangalore\n+14',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore']

In [179]:
#company_name

company_name = []



job_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in job_tags[0:10]:
    jobs_data = i.text
    company_name.append(jobs_data)
    
company_name

['futures and careers',
 'boyen haddin consulting and technol...',
 'kavya staffing solutions',
 'ara resources private limited',
 'ashutosh sabhashankar chaturvedi hi...',
 'divya interprises',
 'deuglo infosystem private limited',
 'deuglo infosystem private limited',
 'deuglo infosystem private limited',
 'deuglo infosystem private limited']

In [180]:
#experience

experience_required = []



job_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in job_tags[0:10]:
    jobs_data = i.text
    experience_required.append(jobs_data)
    
experience_required

['2 to 4 Yrs',
 '3 to 6 Yrs',
 '0 to 4 Yrs',
 '2 to 5 Yrs',
 '7 to 12 Yrs',
 '0 to 4 Yrs',
 '1 to 2 Yrs',
 '1 to 2 Yrs',
 '1 to 2 Yrs',
 '1 to 2 Yrs']

In [181]:
# DATAFRAME
df = pd.DataFrame({"all_jobs":jobs,"job_location":job_location,"company_name":company_name,'experience_required':experience_required})
df

,all_jobs,job_location,company_name,experience_required
0,Project Coordinator (Data Analyst),Bangalore,futures and careers,2 to 4 Yrs
1,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
2,Hiring For Data Analyst,Bangalore\n+14,kavya staffing solutions,0 to 4 Yrs
3,Senior Data Analyst,Bangalore,ara resources private limited,2 to 5 Yrs
4,Data Analyst,Bangalore\n+9,ashutosh sabhashankar chaturvedi hi...,7 to 12 Yrs
5,Data Analyst Urgent Recruiment,Bangalore\n+14,divya interprises,0 to 4 Yrs
6,Apply Now a Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
7,Apply Now Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
8,Needed for Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
9,Urgently need a Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs

# ANS.2

In [182]:
driver = webdriver.Chrome()

In [183]:
driver.get("https://www.shine.com/new/job-search")

In [184]:
Job_title_Skills =driver.find_element(By.CLASS_NAME,"form-control")
Job_title_Skills.send_keys('Data Scientist')

In [185]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [186]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[2]/div/button")
search.click()

In [187]:
jobs = []
job_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in job_tags[0:10]:
    jobs_data = i.text
    jobs.append(jobs_data)
    
jobs

['Hiring For Data Scientist',
 'Hiring For Data Scientist',
 'Data Scientist',
 'Data Scientist Urgent Recruitment',
 'Required for Data Scientist',
 'Urgently need Data Scientist',
 'Data scientist Bangalore',
 'Data Scientist',
 'Hiring For Data Scientist',
 'Needed for the post Data Scientist']

In [188]:
job_location = []



job_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in job_tags[0:10]:
    jobs_data = i.text
    job_location.append(jobs_data)
    
job_location

['Bangalore\n+17',
 'Bangalore\n+17',
 'Bangalore',
 'Bangalore\n+14',
 'Bangalore',
 'Bangalore\n+8',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+15',
 'Bangalore\n+8']

In [189]:
company_name = []



job_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in job_tags[0:10]:
    jobs_data = i.text
    company_name.append(jobs_data)
    
company_name

['kavya staffing solutions',
 'kavya staffing solutions',
 'skyleaf consultants',
 'divya interprises',
 'deuglo infosystem private limited',
 'deuglo infosystem private limited',
 'seven geomax consulting private lim...',
 'employberry consultants hiring for ...',
 'niharika enterprises',
 'deuglo infosystem private limited']

In [190]:
experience_required = []



job_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in job_tags[0:10]:
    jobs_data = i.text
    experience_required.append(jobs_data)
    
experience_required

['0 to 4 Yrs',
 '0 to 4 Yrs',
 '5 to 10 Yrs',
 '0 to 4 Yrs',
 '4 to 6 Yrs',
 '4 to 6 Yrs',
 '6 to 9 Yrs',
 '3 to 6 Yrs',
 '0 to 4 Yrs',
 '4 to 6 Yrs']

In [191]:
df = pd.DataFrame({"all_jobs":jobs,"job_location":job_location,"company_name":company_name,'experience_required':experience_required})
df

,all_jobs,job_location,company_name,experience_required
0,Hiring For Data Scientist,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs
1,Hiring For Data Scientist,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs
2,Data Scientist,Bangalore,skyleaf consultants,5 to 10 Yrs
3,Data Scientist Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
4,Required for Data Scientist,Bangalore,deuglo infosystem private limited,4 to 6 Yrs
5,Urgently need Data Scientist,Bangalore\n+8,deuglo infosystem private limited,4 to 6 Yrs
6,Data scientist Bangalore,Bangalore,seven geomax consulting private lim...,6 to 9 Yrs
7,Data Scientist,Bangalore,employberry consultants hiring for ...,3 to 6 Yrs
8,Hiring For Data Scientist,Bangalore\n+15,niharika enterprises,0 to 4 Yrs
9,Needed for the post Data Scientist,Bangalore\n+8,deuglo infosystem private limited,4 to 6 Yrs

# ANS.3

In [192]:
driver = webdriver.Chrome()

In [193]:
driver.get("https://www.shine.com/new/job-search")

In [197]:
Job_title_Skills =driver.find_element(By.CLASS_NAME,"form-control")
Job_title_Skills.send_keys('Data Scientist')

In [198]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Delhi/NCR')

In [200]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[2]/div/button")
search.click()

In [204]:

#click on salary tab

salary_filter = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div/ul/li[3]/button")
ActionChains(driver).move_to_element(salary_filter).click().perform()

In [205]:
# WRITE SALARY

salary =driver.find_element(By.CLASS_NAME,"form-control")
salary.send_keys('3-6 lakhs')

In [206]:
# Click for result 
Result=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]")
Result.click()

In [207]:
jobs = []
job_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in job_tags[0:10]:
    jobs_data = i.text
    jobs.append(jobs_data)
    
jobs

['Data Scientist Recruitment',
 'Hiring For Data Scientist',
 'Hiring For Data Scientist',
 'Hiring for Data Scientist - mumbai',
 'Hiring For Data Scientist',
 'Data Scientist',
 'Data Scientist - Business Intelligence',
 'Data Scientist',
 'Data Scientist Management Consulting - Mumbai',
 'Data Scientist - Spark/Python/Redshift']

In [208]:
job_location = []



job_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in job_tags[0:10]:
    jobs_data = i.text
    job_location.append(jobs_data)
    
job_location

['Canada\n+17',
 'Canada\n+17',
 'Canada\n+17',
 'Mumbai City',
 'Canada\n+17',
 'Mumbai City',
 'Pune',
 'Bangalore',
 'Mumbai City',
 'Mumbai City\n+4']

In [209]:
company_name = []



job_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in job_tags[0:10]:
    jobs_data = i.text
    company_name.append(jobs_data)
    
company_name

['kavya staffing solutions',
 'kavya staffing solutions',
 'kavya staffing solutions',
 'topgear consultants private limited',
 'kavya staffing solutions',
 'topgear consultants private limited',
 'boyen haddin consulting and technol...',
 'skyleaf consultants',
 'morpheus human consulting pvt ltd',
 'boyen haddin consulting and technol...']

In [210]:
experience_required = []



job_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in job_tags[0:10]:
    jobs_data = i.text
    experience_required.append(jobs_data)
    
experience_required

['0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '3 to 8 Yrs',
 '0 to 4 Yrs',
 '3 to 8 Yrs',
 '3 to 6 Yrs',
 '5 to 10 Yrs',
 '2 to 4 Yrs',
 '5 to 9 Yrs']

In [211]:
df = pd.DataFrame({"all_jobs":jobs,"job_location":job_location,"company_name":company_name,'experience_required':experience_required})
df

,all_jobs,job_location,company_name,experience_required
0,Data Scientist Recruitment,Canada\n+17,kavya staffing solutions,0 to 4 Yrs
1,Hiring For Data Scientist,Canada\n+17,kavya staffing solutions,0 to 4 Yrs
2,Hiring For Data Scientist,Canada\n+17,kavya staffing solutions,0 to 4 Yrs
3,Hiring for Data Scientist - mumbai,Mumbai City,topgear consultants private limited,3 to 8 Yrs
4,Hiring For Data Scientist,Canada\n+17,kavya staffing solutions,0 to 4 Yrs
5,Data Scientist,Mumbai City,topgear consultants private limited,3 to 8 Yrs
6,Data Scientist - Business Intelligence,Pune,boyen haddin consulting and technol...,3 to 6 Yrs
7,Data Scientist,Bangalore,skyleaf consultants,5 to 10 Yrs
8,Data Scientist Management Consulting - Mumbai,Mumbai City,morpheus human consulting pvt ltd,2 to 4 Yrs
9,Data Scientist - Spark/Python/Redshift,Mumbai City\n+4,boyen haddin consulting and technol...,5 to 9 Yrs

# ANS.4

In [212]:
driver = webdriver.Chrome()

In [213]:
driver.get("https://www.flipkart.com/")

In [51]:
search_input = driver.find_element(By.CLASS_NAME,"Pke_EE")
search_input.send_keys("sunglasses")

In [53]:
# Find and click the search icon
search_icon = driver.find_element(By.CLASS_NAME, "_2iLD__")
search_icon.click()

In [74]:
brand =[]
start =0
end =2
for page in range(start,end):
    abc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in abc:
        brand.append(i.text)
        
    next_button =  driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [78]:
len(brand)

74

In [72]:
discount_price =[]
start =0
end =2
for page in range(start,end):
    abc=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in abc:
        discount_price.append(i.text)
        
    next_button =  driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [77]:
len(discount_price)

80

In [75]:
discount =[]
start =0
end =2
for page in range(start,end):
    abc=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in abc:
        discount.append(i.text)
        
    next_button =  driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [76]:
len(discount)

77

In [79]:
#df = pd.DataFrame({'Brand':brand,'Discount_price':discount_price,'Discount':discount})
#df

# ANS.5

In [80]:
driver = webdriver.Chrome()

In [81]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product- reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART')

***Unfortunately the page you are looking for has been moved or deleted***

***This page has been deleted***

# ANS.6

In [7]:
driver = webdriver.Chrome()

In [8]:
driver.get("https://www.flipkart.com/")

In [11]:
search_input = driver.find_element(By.CLASS_NAME,"_3704LK")
search_input.send_keys("sneakers")

In [13]:
# Find and click the search icon
search_icon = driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search_icon.click()

In [16]:
brand =[]
start =0
end =3
for page in range(start,end):
    abc=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    abc=abc[0:100]
    for i in abc:
        brand.append(i.text)
        
    next_button =  driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [17]:
len(brand)

120

In [18]:
Product_Description =[]
start =0
end =3
for page in range(start,end):
    abc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in abc[0:100]:
        Product_Description.append(i.text)
        
    next_button =  driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [100]:
len(Product_Description)

113

In [103]:
Price =[]
start =0
end =4
for page in range(start,end):
    abc=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in abc[0:100]:
        Price.append(i.text)
        
    next_button =  driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [105]:
len(price)

80

# ANS.7

In [106]:
driver = webdriver.Chrome()

In [107]:
driver.get("https://www.amazon.in/")

In [112]:
search_input = driver.find_element(By.ID, "twotabsearchtextbox")
search_input.send_keys("Laptop")

In [113]:
search_icon = driver.find_element(By.ID, "nav-search-submit-button")
search_icon.click()

In [121]:
Title = []



Title_tags = driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
for i in Title_tags[0:10]:
    Title_data = i.text
    Title.append(Title_data)
    
Title

['Acer Aspire Lite 11th Gen Intel Core i5-1155G7 Thin and Light Laptop (16GB RAM/512GB SSD/Intel Iris Xe Graphics, Win 11 Home) AL15-51, 39.62cm (15.6") Full HD Display, Metal Body, Steel Gray, 1.59 Kg',
 'HP Chromebook X360 Intel Celeron N4020 14 inch(35.6 cm) Micro-Edge, Touchscreen, 2-in-1 Laptop (4GB RAM/64GB eMMC/Chrome OS/Intel UHD Graphics,1.49Kg), 14a-ca0506TU',
 'JioBook 11 (2023) NB1112MM(BLU) (Mediatek 8788 Octa-core 2 GHz/ARM Mali G72 MP3 @800 MHz/29.5cms 60 Hz/Thin and Light Laptop/ 4 GB LPDDR4/ 64 GB eMMC/JioOS 4G LTE, Dual Band Wi-Fi/Blue/ 990 GMS)',
 'Acer Aspire Lite 11th Gen Intel Core i3 Premium Metal Laptop (8GB RAM/512GB SSD/Windows 11 Home) AL15-51, 39.62cm (15.6") Full HD Display, Metal Body, Steel Gray, 1.59 Kg',
 'HP Chromebook 15a Intel Celeron N4500 15.6 inch (39.6cm) HD,Anti-Glare, Micro-Edge Laptop(4GB RAM/128 GB eMMC/Intel UHD Graphics/Google Assistant/Chrome 64/Numeric Keypad/Dual Speaker) 15a- na0012TU',
 'Dell 14 Laptop, Intel Core i3-1115G4/8GB/512GB/14.0"(35.56cm) FHD Display, TÜV Rheinland Certified Comfortview Reduce Harmful Blue Light Emissions/Win 11+MSO\'21/15 Month McAfee/Carbon Black/1.48kg',
 'HP Pavilion Gaming 11th Gen Intel Core i5 15.6"(39.6cm) FHD Gaming Laptop (8GB RAM/512GB SSD/RTX 3050 4GB Graphics/144 Hz/B&O/Windows 10 Home/MS Office/2.23Kg), 15-dk2012TX, Black',
 'HP Laptop 15s, 12th Gen Intel Core i5-1235U, 15.6-inch (39.6 cm), FHD, 8GB DDR4, 512GB SSD, Intel Iris Xe Graphics, Backlit KB, Thin & Light (Win 11, MSO 2021, Silver, 1.69 kg), fq5111TU',
 '',
 '']

In [120]:
Ratings = []



Ratings_tags = driver.find_elements(By.XPATH,'//span[@class="a-size-base puis-bold-weight-text"]')
for i in Ratings_tags[0:10]:
    Ratings_data = i.text
    Ratings.append(Ratings_data)
    
Ratings

['3.3', '3.9', '2.3', '3.9', '2.1', '4.0', '4.1', '4.0', '', '']

In [123]:
Price = []



Price_tags = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in Price_tags[0:10]:
    Price_data = i.text
    Price.append(Price_data)
    
Price

['50,999',
 '52,990',
 '37,003',
 '41,990',
 '18,990',
 '16,499',
 '31,999',
 '17,990',
 '37,490',
 '64,990']

# ANS.8

In [127]:
driver = webdriver.Chrome()

In [129]:
driver.get("https://www.azquotes.com/")

In [131]:
#Click on Top Quotes

search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
search.click()

In [132]:
Quote = []



Quote_tags = driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in Quote_tags[0:10]:
    Quote_data = i.text
    Quote.append(Quote_data)
    
Quote

['The essence of strategy is choosing what not to do.',
 'One cannot and must not try to erase the past merely because it does not fit the present.',
 'Patriotism means to stand by the country. It does not mean to stand by the president.',
 'Death is something inevitable. When a man has done what he considers to be his duty to his people and his country, he can rest in peace. I believe I have made that effort and that is, therefore, why I will sleep for the eternity.',
 'You have to love a nation that celebrates its independence every July 4, not with a parade of guns, tanks, and soldiers who file by the White House in a show of strength and muscle, but with family picnics where kids throw Frisbees, the potato salad gets iffy, and the flies die from happiness. You may think you have overeaten, but it is patriotism.',
 'Be more concerned with your character than your reputation, because your character is what you really are, while your reputation is merely what others think you are.',
 'Weak people revenge. Strong people forgive. Intelligent People Ignore.',
 "A mind is like a parachute. It doesn't work if it is not open.",
 'Never be afraid to raise your voice for honesty and truth and compassion against injustice and lying and greed. If people all over the world...would do this, it would change the earth.',
 'There are three kinds of men. The one that learns by reading. The few who learn by observation. The rest of them have to pee on the electric fence for themselves.']

In [133]:
Author = []



Author_tags = driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in Author_tags[0:10]:
    Author_data = i.text
    Author.append(Author_data)
    
Author

['Michael Porter',
 'Golda Meir',
 'Theodore Roosevelt',
 'Nelson Mandela',
 'Erma Bombeck',
 'John Wooden',
 'Albert Einstein',
 'Frank Zappa',
 'William Faulkner',
 'Will Rogers']

In [134]:
Type_Of_Quotes = []



Quotes_tags = driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in Quotes_tags[0:10]:
    Quotes_data = i.text
    Type_Of_Quotes.append(Quotes_data)
    
Type_Of_Quotes

['Essence, Deep Thought, Transcendentalism',
 'Inspiration, Past, Trying',
 'Country, Peace, War',
 'Inspirational, Motivational, Death',
 '4th Of July, Food, Patriotic',
 'Inspirational, Success, Basketball',
 'Strong, Revenge, Intelligent',
 'Inspirational, Teacher, Religious',
 'Truth, Honesty, Lying',
 'Funny, Reading, Learning']

# ANS.9

In [135]:
driver = webdriver.Chrome()

In [136]:
driver.get("https://www.jagranjosh.com/")

In [137]:
#click on the GK option
search=driver.find_element(By.XPATH,'/html/body/div/header/nav/div/div/div[3]/ul/li[3]/a')
search.click()

In [138]:
#click on the List of all Prime Ministers of India

Prime_Ministers=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
Prime_Ministers.click()

In [143]:
PM_Name = []



pm_tags = driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[3]/table/tbody/tr[2]/td[2]/p/strong/a')
for i in pm_tags[0:10]:
    pm_data = i.text
    PM_Name.append(pm_data)

PM_Name

['Jawahar Lal Nehru']

In [145]:
table = driver.find_element(By.CLASS_NAME, "table-box")
rows = table.find_elements(By.TAG_NAME, "tr")[1:]

data = []
for row in rows:
    columns = row.find_elements(By.TAG_NAME, "td")
    name = columns[0].text.strip()
    born_dead = columns[1].text.strip()
    term_of_office = columns[2].text.strip()
    remarks = columns[3].text.strip()

    data.append([name, born_dead, term_of_office, remarks])

In [148]:
df = pd.DataFrame(data, columns=["Name", "Born-Dead", "Term of Office", "Remarks"])
df

,Name,Born-Dead,Term of Office,Remarks
0,1.,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days"
1,2.,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days"
2,3.,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days"
3,4.,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days
4,5.,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59..."
5,6.,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days"
6,7.,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days
7,8.,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2..."
8,9.,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3..."
9,10.,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days
10,11.,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days
11,12.,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days"
12,13.,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days
13,14.,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days
14,15.,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days
15,16.,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days"
16,17.,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days"
17,18.,Narendra Modi,(born 1950),26 May 2014 - 2019
18,19.,Narendra Modi,(born 1950),30 May 2019- Incumbent

# ANS.10

In [162]:
driver = webdriver.Chrome()

In [163]:
driver.get("https://www.motor1.com/")

In [164]:
#SEARCH
search_input = driver.find_element(By.XPATH, '/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
search_input.send_keys("50 most expensive cars")

In [165]:
#CLICK ON SEARCH ICON
search_icon = driver.find_element(By.XPATH, '/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search_icon.click()

In [166]:
#click on 50 most expensive cars in the world..
most_expensive = driver.find_element(By.XPATH, '/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
most_expensive.click()

In [167]:
# 50 cars scrap

CAR_NAME = []



car_tags = driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_tags[0:50]:
    car_data = i.text
    CAR_NAME.append(car_data)
    
CAR_NAME

['Aston Martin Valour',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'Ferrari Daytona SP3',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Zenvo Aurora',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Pininfarina B95 Speedster',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 '777 Hypercar',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*',
 'Rolls-Royce La Rose Noire Droptail']

In [169]:
CAR_price = []



car_tags = driver.find_elements(By.CLASS_NAME,'p')
for i in car_tags[0:50]:
    car_data = i.text
    CAR_price.append(car_data)
    
CAR_price

[]